// Add custom font
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Niconne|Sriracha');
$font-family-base: 'Lato', sans-serif;
$font-family-heading: 'Sriracha', sans-serif;
$bg-color: #3094a5;
$font-color: #ffffff;

body {
	background: $bg-color;
	color: $font-color!important;
	line-height: 1.5em;
	text-align: center;
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
	font-family: $font-family-base;
  display: flex;
  align-items: center;
	letter-spacing: 1px;
	// background: linear-gradient(0deg, #efd5c8, #ddf2f3);
	// background: #f7fafa;
	background-size:cover;
	background-position: right;
	background-image: url('../images/lkr-bg.png')

	// -webkit-animation: AnimationName 44s ease infinite;
	// -moz-animation: AnimationName 44s ease infinite;
	// animation: AnimationName 44s ease infinite;

}


@-webkit-keyframes AnimationName {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
@keyframes AnimationName {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
.v-align {
	display: flex;
	 align-items: center;
}


.logo {
	width: 140px;
	margin-bottom: 80px;
}
	img {
		width: 100%;

}
h1 {
	margin-top: 0px;
	font-weight: 200;

	letter-spacing: 3px;
	font-size: 5em;
	font-family: $font-family-heading;

}

h4 {
	margin-top: 10px;
	letter-spacing: 1px;
	font-size: 1.6em;
	font-weight: 200;

}

#footer {
	position: absolute;
  bottom: 0;
	width: 100%;
	right: 15px;
	left: 15px;
  /* Set the fixed height of the footer here */
 	padding: 20px 0px;
 text-align: center;


}

.strapline {
	opacity: 0.7;
}

a {
	color: rgba(255,255,255,0.6);
	border-bottom: 1px solid rgba(255,255,255,0.6);
	padding-bottom: 2px;
	font-weight: 300;

	&:hover {
		text-decoration: none;
		color: #ffffff;
	}
}



@media (max-width: 500px) {
	#footer {
		position: relative;
	}
 }
